html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.fridgeButtons {
    cursor: pointer;
    color: #555;
    text-decoration:none;
    display: block;
}
.fridgeButtons:hover {
    color: #888;
}