@{
    ViewData["Title"] = "Главная";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в сервис учета продуктов в холодильниках</h1>
</div>
<div class="main_list_functions" >
    <a asp-area="" asp-controller="Fridge" asp-action="Index">
        <div>
            Список всех холодильников
        </div>
    </a>
    <a asp-area="" asp-controller="Fridge" asp-action="CreateFridge">
        <div>
            Добавить новый холодильник
        </div>
    </a>
    <a asp-area="" asp-controller="Product" asp-action="Index">
        <div>
             Список всех продуктов
        </div>
    </a>
    <a asp-area="" asp-controller="Fridge" asp-action="AddDefaultCountProducts">
        <div>
             Заполнить холодильники продуктами автоматически
        </div
    </a>
</div>
