@model ClientWeb.Models.mvcProduct

@{
    ViewData["Title"] = "EditProduct";
}

<h1>Изменить продукт</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProductForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="idProduct" value=@Model.Id>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Default_quantity" class="control-label"></label>
                <input asp-for="Default_quantity" class="form-control" min="1" />
                <span asp-validation-for="Default_quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Назад к списку</a>
</div>

